html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*header section begins*/

.header-section{
    position: relative;
    width: 100%;
    z-index: 1;
}
  
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}
  
label{
    display: none;
}
  
header .logo{
    max-width: 60px;
    height: auto;
    object-fit: contain;
}
  
header .navigation a{
    color: #000;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}
  
header .navigation a:not(:last-child){
    margin-right: 30px;
}
  
header .navigation a:hover{
    background: skyblue;
}

.info{
    height: 700px;
    padding-top: 175px;
}
  
.content{
    margin-top: 100px;
    width: 100%;
    background: url(../Images/header-food.jpg);
    background-repeat: no-repeat;
    align-items: center;
    background-size: 100%;
}

.info h1{
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 100px;
    margin-left: 100px;
    padding-bottom: 50px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info h3{
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    margin-left: 100px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info .about-me-btn{
    text-decoration: none;
    margin-left: 100px;
    background-color: aqua;
    padding: 5px 12.5px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.info a:hover{
    background-color: #4c8a12;
    color: white;
    padding: 10px 25px;
    transition: 0.5s ease-in-out;
}

#check{
    z-index: 2;
    display: none;
}

/*header section ends*/

/*responsive- header section begins*/
  
@media (max-width: 1200px){
    .header-section{
        height: 700px;
    }

    .content{
        height: 700px;
        background-size: cover;
    }

    header{
        padding: 20px 75px;
    }

    header .navigation{
        display: none;
    }

    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
        color: blue;
    }
    
    label .close-btn{
        display: none;
    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(114, 223, 255, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #check:checked ~  header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }
    
    #check:checked ~ header label .close-btn{
        z-index: 2;
        position: relative;
        display: block;
    }
    
    #check:checked ~ header label .menu-btn{
        display: none;
    }
    
    label .menu-btn{
        position: relative;
    }
    
    header .logo{
        max-width: 60px;
        height: auto;
    }
}
  
  @media (max-width: 900px){
    .header-section{
        height: 500px;
    }

    .content{
        background-size: contain;
    }

    header{
      padding: 10px 40px;
    }
  
    header .logo{
      max-width: 60px;
      height: auto;
    }
  
    .content{
      margin-top: 90px;
    }

    .info h1{
        margin-left: 25px;
        font-size: 70px;
        line-height: 1.5;
    }

    .info h3{
        margin-left: 25px;
        font-size: 30px;
        line-height: 0;
    }

    .info .about-me-btn{
        margin-left: 25px;
    }
}
  
@media screen and (max-width: 768px){
    header{
        max-width: 100%;
    }

    .header-section{
        height: 400px;
    }

    .content{
        height: 425px;
        background-size: cover;
    }

    header{
      padding: 5px 30px;
    }
  
    .content{
      margin-top: 60px;
    }
    
    header .logo{
      max-width: 50px;
      padding: 5px;
      height: auto;
    }

    .info{
        padding-top: 140px;
    }

    .info h1{
        margin-left: 25px;
        font-size: 70px;
        line-height: 1.5;
    }

    .info h3{
        margin-left: 25px;
        font-size: 30px;
        line-height: 0;
    }

    .info .about-me-btn{
        margin-left: 25px;
    }   
}

@media screen and (max-width: 680px){
    header{
        max-width: 100vw;
    }

    .header-section{
        height: 300px;
    }

    .content{
        height: 350px;
        background-size: cover;
    }

    .info{
        padding-top: 100px;
    }

    .info h1{
        margin-left: 25px;
        font-size: 50px;
        line-height: 1.5;
    }

    .info h3{
        margin-left: 25px;
        font-size: 25px;
        line-height: 1;
    }

    .info .about-me-btn{
        margin-left: 25px;
    }
}

/*responsive- header section ends*/

/*recipe section begins*/

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

img{
    width: 100%;
    display: block;
}

.recipe{
    padding: 4.5rem 0;
}

.title{
    text-align: center;
    padding: 1rem 0;
}

.title h2{
    font-size: 2.4rem;
}

.title p{
    padding: 0.6rem 0;
    text-align: justify;
    text-align-last: center;
}

.recipe-content{
    margin: 2rem 0;
}

.recipe-item{
    margin: 1.5rem 0;
}

.recipe-img{
    position: relative;
    overflow: hidden;
}

.recipe-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.recipe-img img{
    transition:  all 0.5s ease;
}

.recipe-item:hover img{
    transform: scale(1.2);
}

.recipe-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.recipe-title p{
    text-transform: capitalize;
    padding: 10px;
}

.recipe-title a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: black;
    line-height: 3.5;
    border-radius: 5px;
    font-size: 15px;
}

/*responsive-recipe section begins*/
@media screen and (max-width: 500px){
    .title h2{
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 768px){
    .recipe{
        padding: 2rem 0.5rem;
    }

    .title h2{
        font-size: 2rem;
    }

    .recipe-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .recipe-item{
        margin: 0;
    }
}

@media screen and (min-width: 1200px){
    .recipe-content{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*responsive-recipe section ends*/

/*recipe section ends*/

/* about 
.about{
    padding: 4.5rem 0;
    background-color: #B9FAF8;
}
.about-content{
    display: flex;
}

.about-content img{
    width: 500px;
}
.about-text{
    margin: 2rem 0;
}
.about-text > p{
    font-size: 1.1rem;
    padding: 0.6rem 1.5rem;
    text-align: justify;
}*/

/*footer section begins*/
footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}

.footer span{
    margin-top: 1rem;
    display: block;
    letter-spacing: 2px;
}
/*footer section ends*/
